body {
    background-color: #1A2741;
    border: 10px solid #122241;
    margin: 0px;
    height: 100vh;
}

#LinssenLogo {
    width: 25%;
    height: auto;
    border-radius: 100%;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -35%);
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
}