body {
    background-color: #1A2741;
    border: 10px solid #122241;
    margin: 0px;
    height: 100vh;
}

/*Layout*/

#LinssenLogo {
    width: clamp(50px, 20%, 80px);
    border-radius: 100%;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#MeldenDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#MeldenBtn {
    width: 200px;
    height: 200px;

    border: 0px;
    border-radius: 100%;

    background-color: red;
    color: white;
}

#MeldenBtn_1 {
    width: 417px;
    height: 417px;
    transform: rotate(-45deg);
    flex-shrink: 0;

    border-radius: 417px;
    background: #DD0202;
}

#UserFooter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
}