body {
    background-color: #1A2741;
    border: 15px solid #122241;
    margin: 0px;
    height: 100vh;

    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/*Layout*/

#LinssenLogo {
    width: clamp(50px, 20%, 80px);
    border-radius: 100%;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
    
}

#UserBtn {
    position: absolute;
    left: 50%;
    top: 97.5%;
    transform: translate(-50%);

    background-color: #122241;
    border: 0px;

    color: white;
    font-size: clamp(16px, 20%, 20px);
    font-weight: bold;

    width: clamp(100px, 50%, 150px);
    height: clamp(30px, 50%, 45px);
}

/*Ongevals Buttons*/

.OngevalDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    top: 5%;
    margin-top: 25px;
}

.OngevalBtn {
    border-width: 0;
    border-radius: 25px;
    color: white;

    font-size: 25px;
    font-weight: bold;

    width: 270px;
    height: 75px;
}

#ZOBtn {
    background-color: #730000;
}

#OBtn {
    background-color: #A90505;
}

#AnnulerenBtn {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%); 

    border: none;
    border-radius: 10px;
    color: white;

    background-color: #A90505;

    font-size: 20px;
    font-weight: bold;

    width: 230px;
    height: 40px;
}

#InfoBox {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);

    width: clamp(240px, 50%, 700px);
    height: clamp(280px, 50%, 500px);

    background-color: #0000003f;
    border: none;
    border-radius: 5%;
    color: white;

    padding: 10px;
}