body {
    background-color: #1A2741;
    border: 15px solid #122241;
    margin: 0px;
    height: 100vh;

    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

/*Layout*/

#LinssenLogo {
    width: clamp(80px, 20%, 160px);
    
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -40%);
    
}

#UserBtn {
    position: absolute;
    left: 50%;
    top: 97.5%;
    transform: translate(-50%);

    background-color: #122241;
    border: 0px;

    color: white;
    font-size: clamp(20px, 20%, 40px);
    font-weight: bold;

    width: clamp(100px, 50%, 150px);
    height: clamp(30px, 50%, 45px);
}



